html{

margin: 0;
padding: 0;
background-image: url(../Images/banner-1975070_1920.jpg);

}
#produktSida{

width: 100%;
height: 1200px;

}

h1{

  margin: 0;
  margin-left: 1%;

}

ul{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0%;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 0;

}

li{
  background: rgba(0, 0, 0, 0.5);
  width: 20%;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  color: white;
  font-size: 45px;
}

li a{
    color: white;
}

a:link{

  color: white;
  text-decoration: none;

}

a:visited{

color: #999999;
text-decoration: none;

}

a:active{

color: #999999;
text-decoration: none;

}

header{

  text-align: left;
  height: 300px;
  width: 100%;
  background-image: url(../Images/business-suit-690048_1920.jpg);
  font-family: "Times New Roman", Times, serif;
  color: #7A7A7A;
  font-size: 75px;



}

nav{

  height: 7%;
  width: 100%;
  background-color: grey;
  display: flex;
  justify-content: space-between;


}

main{

  background: rgba(0, 0, 0, 0.5);
  display: flex;
  width: 100%;
  height: 60%;

}

#Produkt{

margin-left: 5%;

}


#ProduktInformation{

  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  height: 30%;
  width: 40%;
  padding-left: 5%;

}

h4{

  color: white;
  font-family: "Times New Roman", Times, serif;
  font-size: 40px;

}

@media screen and (max-width: 1200px) {

  li{

    font-size: 30px;

  }

}

@media screen and (max-width: 1000px) {

  main{
    position:static;
    flex-direction: column;

  }

#Produkt{

  margin-left: 0%;

}

#ProduktInformation{

  padding-left: 5%;

}

li{

  font-size: 20px;

}

}
