*{
  margin: 0;
  padding: 0;
}
html{
margin: 0;
padding: 0;
background: url(rsz_2rsz_1rsz_1rsz_loggotyp.jpg);
background-position: center;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

h1{
color:#0d0d0d;
}

.container{
width: 100%;
margin: 0;
padding: 0;
}

header{
height: 100px;
width: 100%;
display: flex;
background-color: #79ADAD;
font-family: 'Raleway', sans-serif;
padding-top: 5px;
padding-left: 15px;
padding-bottom: 5px;
}

nav{
height: 55px;
width: 100%;
background-color: #85D5D5;
padding: 0;
}

li a{
  display: block;
  width: 250px;
  padding-left: 10px;
  padding-top: 5px;
}

main{
width: 100%;
height: 360px;
background-color:
padding: 5px;
font-size: 22px;
}

footer{
  width: 100%;
  height: 30px;
  background-color: #3F8E8E;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  padding-left: 15px;
}
