*{
  margin: 0;
  padding: 0;
}
html{
margin: 0;
padding: 0;
background-image: url(rsz_2rsz_1rsz_1rsz_loggotyp.jpg);
background-position: center;
background-image: linear-gradient(to bottom,#003566,#66b5ff);
opacity: 1;
background-size: cover;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding-left: 5px;
}

h1{
color:#0077e6;
font-size: 45px;
padding-left: 10px;
padding-top: 15px;
}

.container{
width: 100%;
margin: 0;
padding: 0;
}

header{
height: 100px;
width: 100%;
display: flex;
background-color: #001a33;
font-family: 'Raleway', sans-serif;
padding-top: 5px;
padding-left: 15px;
padding-bottom: 5px;
}

nav{
height: 55px;
width: 100%;
background-color: #85D5D5;
padding: 0;
}

li a{
  display: block;
  width: 250px;
  height: 100%;
  padding-left: 20px;
  padding-top: 5px;

}

main{
  width: 100%;
  height: 360px;
  background-color:
}

article{
  padding-left: 280px;
  padding-top: 12px;
  font-size: 23px;
  font-family: 'Muli', sans-serif;
}
figure{
  padding-top: 10px;

}
footer{
  width: 100%;
  height: 30px;
  background-color: #3F8E8E;
  font-family: 'Muli';
  padding: 0;
  padding-left: 280px;
  font-size: 20px;
}

@media screen and (max-width: 970px) {

  h1{
    font-size: 38px;
  }
  article{
    padding-left: 120px;
  }

}

@media screen and (max-width: 800px) {

  h1{
    font-size: 35px;
  }
  article{
    padding-left: 110px
  }
  main{
    height:510px;
  }

}



@media screen and (max-width: 660px) {

  h1{
    font-size: 30px;
  }
  article{
    padding-left:100px;
  }
  main{
    height:530px;
  }

  footer{
    padding-left: 100px;
  }
}

@media screen and (max-width: 570px) {

  header{
    width:100%;
  }
  h1{
    font-size: 25px;
  }

  nav{
    width:100%;
  }
  main{
    width:100%;
    height:550px;
  }
  li a{
    width:100px;
  }
  article{
    padding-left:5px;
  }
  footer{
    width:100%;
    padding-left: 5px;
    height:50px;
  }
}
