html{

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  background-image: url("../OnepageUppgiftImages/technologyImage1024x682.jpg");
  background-size: cover;
  background-position: center;

}

body{

  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;

}


#sida1{

  display: flex;
  width: 100%;
  height: 1080px;
  margin: 0%;

}


header{

width: 99%;
height: 10%;
display: flex;
background-color: #000080;
padding-left: 1%;
color: white;

}
nav{

  width:18%;
  height: 10%;
  display: flex;
  background-color: #3973ac;
  position: fixed;
  right: 0;
}


main{

  display: flex;
  width: 70%;
  height: 70%;
  opacity: 0.8;
  background-color: #0099ff;
  top: 30px;
  left: 300px;
  position: relative;
  padding-left: 20px;

}


#sida2{

  display: flex;
  width: 100%;
  height: 1080px;
  margin: 0%;

}

#textPåSida2{



}

#bildPåSida2{

  position: relative;
  top: 400px;
  left: 1200px;
}

#sida3{

  display: flex;
  width: 100%;
  height: 1080px;
  margin: 0%;

}

#bildPåSida3{

position: relative;
top: 400px;
left: 80px;

}

#textPåSida3{

  width: 40%;
  height: 30%;
  background-color:#2C2F33;
  color: white;
  position: relative;
  top: 400px;
  left: 300px;

}
